@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 700px;
      height: 700px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 50px;

      @include mobile {
        align-items: flex-start;
      }

      img {
        height: 70%;

        @include mobile {
          height: 28%;
        }
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;

    @include mobile {
    }
    
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        height: 60%;
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 25px;

        @include mobile {
          font-size: 20px;
        }

        span {
          font-size: inherit;
          color: rgb(0, 183, 255);
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 25%;

      img {
        width: 30px;
        margin-left: 20px;

        @include tablet {
          margin-left: 110px;
        }

        @include mobile {
          margin-left: 60px;
        }

      }
    }
  }
}