// $mainColor: #15023a;
$mainColor: black;
$width: 1020px;
$width-min: 399px;
$height: 550px;
$sleep: 747px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content
  }
};

@mixin mobile-sleep {
  @media (max-width: #{$sleep}) {
    @content
  }
};

@mixin mobile-min {
  @media (max-width: #{$width-min}) {
    @content
  }
};

@mixin tablet {
  @media (max-height: #{$height}) {
    @content
  }
}